.top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  .right{
    display: flex;
    align-items: center;
    .notification{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      background-color: black;
      padding: 1.3em;
      border-radius:  5px;
      margin-right: 1.5em;
    }
  }
  .name{
    text-transform: capitalize;
  }
}