.player-card {
    .card {
        padding: 1.5em;
        background: #000000;
        width: 250px;
        cursor: pointer;
        // height: 200px;
        margin-bottom: 2em;
        margin-right: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .edit-pen {
            // margin-left: auto;
        }
        .remove-player {
            color: red;
            font-size: 14px;
        }
        .image {
            width: 100px;
            height: 100px;
            img {
                border-radius: 100%;
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }
    }
}
