.all-video {
  .top-hero {
    // height: 330px;
    margin: 0 auto;
    padding: 4em;
    margin-top: 3em;
    background-image: url(../../../../assets/images/club-coach.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
    button {
      background: #811aff;
      border-radius: 5px;
      width: 242px;
      height: 57px;
      color: #fff;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }
  .all-files {
    margin-top: 4em;
    .video-tab {
      .tab-section {
        background: #000000;
        border-radius: 5px;
        width: 404px;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        .tab {
          color: #fff;

          border-radius: 5px;
          padding: 0.3em 1em;
          cursor: pointer;
        }
        .active-tab {
          background: #811aff;
        }
      }
    }
    .search-container{

      .search-section {
        background: #242424;
        border-radius: 5px;
        width: 279px;
        height: 41px;
        margin-left: auto;
        margin-bottom: -1em;
        input {
          height: 100%;
          background-color: transparent;
          border: none;
          width: 239px;
          outline: none;
          color: #ffff;
          padding: 0 1em;
        }
      }
      button{
        padding: 1em;
        color: #FFFFFF;
        background: #27282C;
border-radius: 5px;
margin-left: 1em;
height: 41px;
padding: 0 1em;
      }
    }
    .table-row {
      background: #000000;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #000000;
      // cursor: pointer;
      &:hover {
        border: 1px solid #811aff;
      }
      .view {
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        width: 131px;
        height: 34px;
      }
      .analyzing{
        border: 1px solid #A0A0A0;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        color: #A0A0A0;
        font-style: italic;
        width: 131px;
        height: 34px;
      }
      .delete {
        color: #d52121;
        cursor: pointer;
      }
      .status {
        text-decoration-line: underline;
        color: #aaaaaa;
      }
      .success {
        color: #00bb4c;
      }
      .pending {
        color: #ffbb33;
      }
      img{
        margin-right: 2em;
      }
    }

    .no-file{
      background: #000000;
      margin-top: 2em;
      display: grid;
      place-content: center;
      padding: 3em;
      text-align: center;
      border-radius: 10px;
    }
  }
}
