.step-two {
  font-size: 18px;
  .tab-section {
    background: #000000;
    border-radius: 5px;
    width: 404px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    .tab {
      color: #fff;

      border-radius: 5px;
      padding: 0.3em 1em;
      cursor: pointer;
    }
    .active-tab {
      background: #811aff;
    }
  }

  .form {
    .form-group {
      input {
        background: #242424;
        border-radius: 5px;
        border: none;
        margin-top: 0.5em;
        height: 41px;
        &:focus {
          border: none;
          outline: none;
        }
      }
      .logo {
        background: #000000;
        color: #5597ff;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
      }
      .logo-file {
        display: none;
      }
      
      .upload-player {
        margin-top: 1em;
        background: #131313;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 5px;
        // width: 210px;
        height: 48px;
        font-size: 20px;
        text-align: center;
        // padding-top: 8px;
        cursor: pointer;
        
        color: #fff;
      }
      .csv-btn {
        background: #811aff;
        border: 1px solid #811aff;
      }
    }
  }
  .table-row {
    background: #000000;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #000000;
    // cursor: pointer;
    &:hover {
      border: 1px solid #811aff;
    }
    .view {
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      width: 131px;
      height: 34px;
    }
    .analyzing{
      border: 1px solid #A0A0A0;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      color: #A0A0A0;
      font-style: italic;
      width: 131px;
      height: 34px;
    }
    .delete {
      color: #d52121;
      cursor: pointer;
    }
    .status {
      text-decoration-line: underline;
      color: #aaaaaa;
    }
    .success {
      color: #00bb4c;
    }
    .pending {
      color: #ffbb33;
    }
    img{
      margin-right: 2em;
    }
  }
  .player-card-section-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .btn-primary{
    background: #515151;
opacity: 0.7;
border-radius: 5px;
border: none;
width: 154px;
height: 53px;
  }
  .btn-secondary{
    background: transparent;
    border: none;
    font-size: 20px;
  }
  .players-add{
    background: #515151;
    height: 48px;
    margin-left: 1em;
    color: #fff;
  }
}
