.create-club {
  font-size: 18px;
  .back {
    cursor: pointer;
  }
  .step-1{
    color: #FFC300;
    ;
  }
  form {
    .form-group {
      input {
        background: #242424;
        border-radius: 5px;
        border: none;
        margin-top: 0.5em;
        height: 41px;
        &:focus {
          border: none;
          outline: none;
        }
      }
      .logo {
        background: #000000;
        color: #5597ff;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
      }
      .logo-file {
        display: none;
      }
      .upload-video {
        margin-top: 1em;
        background: #131313;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 5px;
        width: 210px;
        height: 48px;
        font-size: 20px;
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
      }
    }
  }
  .table-row {
    background: #000000;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #000000;
    // cursor: pointer;
    &:hover {
      border: 1px solid #811aff;
    }
    .view {
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      width: 131px;
      height: 34px;
    }
    .analyzing{
      border: 1px solid #A0A0A0;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      color: #A0A0A0;
      font-style: italic;
      width: 131px;
      height: 34px;
    }
    .delete {
      color: #d52121;
      cursor: pointer;
    }
    .status {
      text-decoration-line: underline;
      color: #aaaaaa;
    }
    .success {
      color: #00bb4c;
    }
    .pending {
      color: #ffbb33;
    }
    img{
      margin-right: 2em;
    }
  }
  .btn-primary{
    background: #515151;
opacity: 0.7;
border-radius: 5px;
border: none;
width: 154px;
height: 53px;
  }
}
