@import '../../assets/styles/variable.scss';

.ProgressBar__scene {
    // max-width: 250px;
    height: 5px;
    background: #4a4949;
    border-radius: 5px;
    width: 100%;
    &> .Progress__scene {
        background: $color-healthy;
        width: 50%;
        height: 5px;
        border-radius: 5px;
        transition: 300ms linear width;
    }
}
