
body{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-weight: bold;
font-size: 60px;
}
h2{
  font-weight: 600;
font-size: 45px;
}
li{
  list-style: none;
}
button{
  border: none;
}
a, a:hover{
  text-transform: none;
  text-decoration: none;
  color: #000;
}
input{
  outline: none;
}