.scoreArea {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__textArea {
    padding: 2vh;
    display: flex;
    justify-content: space-between;

    &-stat {
      margin-left: 12vw;
    }
  }
  .progress-outer {
    margin-top: 1em;
    background: #27282c;
    height: 7px;
    border-radius: 10px;
    width: 100%;
  }
  .progress-inner {
    background: #47DC40;
    height: 7px;
    border-radius: 10px;
  }
}
