$mainWhite: #fff;
$primary:#811AFF;
$primaryLight:#A257FF;
$secondary: #FFD601;
$lightGray: #898989;
$deepGray: #555555;
$darkGray: #27282C;
$black: #131313;



// :export {
//   mainWhite: $mainWhite;
//   primary:$primary;
//   primaryLight:$primaryLight;
//   secondary: $secondary;
//   lightGray: $lightGray;
//   deepGray: $deepGray;
//   darkGray:$darkGray;
//   black: $black;
// }