@import '../../../../../assets/styles/variable';

.videoUploads1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-color: transparent !important;
}

.selectedVideoArea {
    background: #000000;
    padding: 1rem 1rem;
    max-width: 350px;
    >h6:first-child {
        color: rgba(255, 255, 255, 0.6);
    }
}

.Remove__item_icon {
    font-size: 12px;
    margin-top: -15px;
    cursor: pointer;
    background-color: transparent;
    color: $high-emphasis;
}

.Selected_Video_Button {
    background: #515151;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    min-width: 150px;
    padding: 5px;
}

.ml {
    margin-left: 2rem;
}

.uploadsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__items {
        margin-left: auto;
        &__search {
            background: #242424;
            width: 279px;
            height: 41px;
            border-radius: 5px;
            border: none;
            text-align: center;
            color: #fff;
            font-weight: 500;
        }
    }
}

.uploadImage {

  .video-container{

    position: relative;
    padding: 1em;
    video{
      // height: 300px;
      width: 200px;
      cursor: pointer;
    }
  }
}

.uploadMark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: 16px;
    width: 30px;
    height: 30px;
    background: rgb(58, 30, 185);
    border-radius: 50%;
    text-align: center;
}
